PCS-ALM/bin/
PCS-ALM/mas-0.log
massim-2013-1.4/massim/scripts/backup/
massim-2013-1.4/massim/scripts/xmls/
massim-2013-1.4/massim/scripts/output/
massim-2013-1.4/massim/scripts/backup/*.*
massim-2013-1.4/massim/scripts/xmls/*.*
/bin
*.aux
*.fdb_latexmk
*.log
*.out
*.synctex.gz
